footer {
	justify-content: space-between;
	width: 100%;
	z-index: 1000;
	flex-direction: column;
}

footer > * {
	width: 100%;
}

footer .links {
	background: black;
	padding: 0 10vw;
	justify-content: space-around;
}

footer .links .nav-link {
	font-size: 14px;
	padding: 15px;
	font-weight: 500;
	color: var(--light-grey-color);
	text-shadow: none;
	text-align: center;
}

footer .links .nav-link:hover {
	color: var(--white-color);
}

footer p {
	padding: 7px;
	width: 100%;
	text-align: center;
	font-size: 14px;
	font-weight: 500;
	background-color: goldenrod;
}
