.header {
	width: 100vw; 
	height: 100vh;
	background: linear-gradient(rgba(18, 113, 255, 0.5), rgba(18, 113, 255, 0.3)),
		url('') center no-repeat;
	background-size: cover;
	position: relative;
	filter: saturate(90%) grayscale(1%);
}

.header-text {
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 0.1rem;
	text-shadow: 3px 3px 10px var(--grey-color);
}

.header-text *{
	font-family: 'Tilt Neon', cursive;
}

.heading {
	font-size: 8rem;
	color: var(--white-color);
}

.header-paragraph {
	font-size: 3rem;
	font-weight: 500;
	color: var(--secondary-color);
	max-width: 70%;
	margin: auto;
}

@media (max-width: 768px) {
.header{
	height : 50vh;
}

	.heading{
		font-size: 5rem;
	}

	.header-paragraph {

		font-size: 2rem;
	}
}

@media(max-width: 450px){
	.header{
		height: 30vh;
	}

	.heading{
		font-size: 4rem;
		margin-bottom: 4px;
	}
}